.home {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  padding: 0 50px;
}

.home__video {
  height: 380px;
  width: 600px;
  border-radius: 6px;

  background: black;
}

.home__chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  height: 380px;
  width: 300px;
  padding: 6px;
  border-radius: 6px;

  background: var(--color-5);
}

.home__message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 6px;
}

.home__message {
  width: 100%;
  padding: 5px 10px;
  border-radius: 8px;
}

.mine {
  color: var(--color-3);
  background: var(--color-2);
}

.other {
  color: var(--color-2);
  background: var(--color-3);
}

.home__action {
  display: flex;
  width: 100%;
}

.home__input {
  width: 80%;
  padding: 8px 10px;
  border: none;
  border-radius: 6px;
}

.home__button {
  width: 20%;
  padding: 10px;
  border: none;

  font-weight: 700;
  font-size: 22px;

  color: var(--color-4);
  background: transparent;
}
