.create-room {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  height: 100%;
}

.create-room__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  width: 420px;
  padding: 48px;
  border-radius: 6px;

  background: var(--color-2);
}

.create-room__image {
  width: 50%;
}

.create-room__title {
  color: var(--color-5);
}

.create-room__button {
  cursor: pointer;

  padding: 16px 20px;
  border: none;
  border-radius: 8px;

  font-weight: 400;
  font-size: 18px;

  background: var(--color-3);
  color: var(--color-4);
}

.create-room__button:hover {
  transition: 0.3s;
  background: var(--color-5);
}

@media (max-width: 450px) {
  .create-room {
    flex-direction: column-reverse;
    gap: 14vh;
  }

  .create-room__card {
    width: 100%;
  }

  .create-room__image {
    width: 100%;
  }

  .create-room__button {
    background: var(--color-5);
  }
}
