.header {
  width: 100%;
  height: 60px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  color: var(--color-4);
}

.header__list {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px;
  border-radius: 6px;
  background: var(--color-5);
}

.header__link {
  list-style: none;
  color: var(--color-4);
}
