.header {
  width: 100%;
  height: 60px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;

  color: var(--color-4);
}

.header__list {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 12px;

  border-radius: 6px;

  background: var(--color-5);
}

.header__link {
  cursor: pointer;
  list-style: none;

  color: var(--color-4);
}
