* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #dcedf0;
  --color-1: #65bec4;
  --color-2: #14878a;
  --color-3: #d7e4e7;
  --color-4: #11486d;
  --color-5: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100vh;
  padding: 30px 56px;

  background: var(--bg);
}
